# Génériques
/*/Autres
/*/Aide classe
/*/Cours
/*/Epreuve
/*/*/test

# Dossiers spécifiques
/_Coordination
/000 - Projet PHP
/01 - Intro Teams
/02 - Introduction à la programmation
/05 - Hardware
/06 - Système et réseaux
/zz - Autres